@model GoodbyeFields_GAMC_Model.TransactionModel
@{
    ViewData["Title"] = "";
}


<h1>
    Transaction Failed
</h1>

<p>
    Transaction failed resion :
    @Html.Label(Model.TransactionDescription)
    </label>
</p>