@model GoodbyeFields_GAMC_Model.TransactionModel

@{
    ViewData["Title"] = "";
}

<h1>Succes Return</h1>

<p>
    Transaction completed Successfully,
    Transaction reference ID is
    @Html.Label(Model.TransactionDescription)
    </label>
</p>
