@model GoodbyeFields_GAMC_Model.TransactionModel;

<form method="post" enctype="multipart/form-data">

    <div class="row">

        <div class="col-md-6">
            <div class="form-group">
                <label class="control-label">Player Id </label>
                <input asp-for="PlayerId" class="form-control">
            </div>
        </div>

        <div class="col-md-6">
            <div class="form-group">
                <label class="control-label">Transaction From Date </label>
                <input asp-for="TransactionFromDate" class="form-control">
            </div>
        </div>
    </div>

    <div class="row">

        <div class="col-md-6">
            <div class="form-group">
                <label class="control-label">Transaction To Date </label>
                <input asp-for="TransactionToDate" class="form-control">
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-md-6 mt_25">
            <div class="form-group">
                <button type="submit" class="btn btn-info mr-2">Search</button>
            </div>
        </div>
    </div>
</form>